;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isMain=1
autoDetach=0

[ARDUINO]
MainArduino=right

[SERVO_PIN]
PoignetGauche=45
MainGauche=43
MainDroit=40
PoignetDroit=39

[SERVO_MINIMUM]
PoignetGauche=0
MainGauche=0
MainDroit=0
PoignetDroit=180

[SERVO_MAXIMUM]
PoignetGauche=180
MainGauche=180
MainDroit=100
PoignetDroit=0

[SERVO_MAP_REST]
PoignetGauche=0
MainGauche=180
MainDroit=100
PoignetDroit=0


[DEF_SPEED]
PoignetGauche=100
MainGauche=100
MainDroit=100
PoignetDroit=100

;----------------------------------- END --------------------------------------------------


