;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isOeil=1
autoDetach=1

[ARDUINO]
OeilArduino=right

[SERVO_PIN]
oeil=23

[SERVO_MINIMUM]
oeil=153


[SERVO_MAXIMUM]
oeil=90



[SERVO_MAP_REST]
oeil=90



[DEF_SPEED]
oeil=130

;----------------------------------- END --------------------------------------------------


