;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isSourcil=1
autoDetach=0

[ARDUINO]
sourcilArduino=right

[SERVO_PIN]
sourcilDroit=50
sourcilGauche=51

[SERVO_MINIMUM]
sourcilDroit=5
sourcilGauche=5


[SERVO_MAXIMUM]
sourcilDroit=50
sourcilGauche=50



[SERVO_MAP_REST]
sourcilDroit=73
sourcilGauche=93



[DEF_SPEED]
sourcilDroit=100
sourcilGauche=100

;----------------------------------- END --------------------------------------------------


