;----------------------------- OPENWEATHERMAP CONFIGURATION ----------------------------------------
[MAIN]
setUnits=metric
;or imperial
apikey=4ebb005869402ffc29078fe14c385989
town="saclay"
;Get your KEY : https://home.openweathermap.org
;----------------------------------- END --------------------------------------------------


