;----------------------------- TRANSLATOR CONFIGURATION ----------------------------------------
[MAIN]
UseMaleVoice=True
apikey=4aa2215f35d8455cb39ba24c323e8a17
;Get your KEY : https://github.com/MyRobotLab/inmoov/wiki/TRANSLATOR-SERVICE
;----------------------------------- END --------------------------------------------------


