;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isArm=1
autoDetach=0

[ARDUINO]
ArmArduino=left

[SERVO_PIN]
epauleGauche=27
epauleDroit=31
brasGauche=26
brasDroit=30

[SERVO_MINIMUM]
epauleGauche=150
epauleDroit=80
brasGauche=0
brasDroit=5

[SERVO_MAXIMUM]
epauleGauche=100
epauleDroit=125
brasGauche=120
brasDroit=125

[SERVO_MAP_REST]
epauleGauche=42
epauleDroit=42
brasGauche=50
brasDroit=50


[DEF_SPEED]
epauleGauche=60
epauleDroit=60
brasGauche=60
brasDroit=60

;----------------------------------- END --------------------------------------------------