;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
ispaupiereHaut=1
autoDetach=0

[ARDUINO]
paupiereHautArduino=right

[SERVO_PIN]
paupiereHautDroit=53
paupiereHautGauche=52

[SERVO_MINIMUM]
paupiereHautDroit=0
paupiereHautGauche=0


[SERVO_MAXIMUM]
paupiereHautDroit=65
paupiereHautGauche=65



[SERVO_MAP_REST]
paupiereHautDroit=0
paupiereHautGauche=0



[DEF_SPEED]
paupiereHautDroit=100
paupiereHautGauche=100

;----------------------------------- END --------------------------------------------------


