;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isTete=1
autoDetach=0

[ARDUINO]
TeteArduino=left

[SERVO_PIN]
verinGauche=23
verinDroite=22
directionTete=24

[SERVO_MINIMUM]
verinGauche=9
verinDroite=172
directionTete=0

[SERVO_MAXIMUM]
verinGauche=108
verinDroite=62
directionTete=144

[SERVO_MAP_REST]
verinGauche=160
verinDroite=89
directionTete=79


[DEF_SPEED]
verinGauche=60
verinDroite=60
directionTete=100

;----------------------------------- END --------------------------------------------------


