;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isNez=1
autoDetach=0

[ARDUINO]
NezArduino=right

[SERVO_PIN]
rotationCylindre=46
berceau=49


[SERVO_MINIMUM]
rotationCylindre=5
berceau=21


[SERVO_MAXIMUM]
rotationCylindre=48
berceau=43



[SERVO_MAP_REST]
rotationCylindre=48
berceau=46


[DEF_SPEED]
rotationCylindre=130
berceau=130

;----------------------------------- END --------------------------------------------------


