;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
isOeil=1
autoDetach=0

[ARDUINO]
OeilArduino=right

[SERVO_PIN]
oeilDroit=22
oeilGauche=23

[SERVO_MINIMUM]
oeilDroit=97
oeilGauche=153


[SERVO_MAXIMUM]
oeilDroit=42
oeilGauche=90



[SERVO_MAP_REST]
oeilDroit=42
oeilGauche=90



[DEF_SPEED]
oeilDroit=100
oeilGauche=100

;----------------------------------- END --------------------------------------------------


