;----------------------------- RIGHT HAND CONFIGURATION ----------------------------------------
[MAIN]
ispaupieres=1
autoDetach=0

[ARDUINO]
paupieresArduino=right

[SERVO_PIN]
paupiereBasDroit=47
paupiereBasGauche=48

[SERVO_MINIMUM]
paupiereBasDroit=112
paupiereBasGauche=45


[SERVO_MAXIMUM]
paupiereBasDroit=35
paupiereBasGauche=125



[SERVO_MAP_REST]
paupiereBasDroit=112
paupiereBasGauche=45



[DEF_SPEED]
paupiereBasDroit=100
paupiereBasGauche=100

;----------------------------------- END --------------------------------------------------


