[MAIN]
scripttype = Full
debug = 0

[TTS]
myvoicetts = Polly
myvoicetype = Mathieu
mylanguage = fr
voicerssapi = f5e41202b46e41da8c34a25180dd5672
awsaccesskeyid = AKIAIYK7YQDBQL6IW7TQ
awssecretkey = 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

[ARDUINO]
myrightport = COM7
forcearduinoisconnected = False
myleftport = COM4

[VOCAL]
earengine = WebkitSpeechRecognition
ismute = 0

[GENERAL]
loadingpicture = False
startupsound = True
iuselinux = False
launchswinggui = 1
betaversion = 1

[VIRTUAL_INMOOV]
virtualinmoovalwaysactivated = False

